<footer class="footer">
        <div class="footer__content">
            <div class="footer__action">
                <div class="footer__logo"></div>
                <div class="footer__subscribe"></div>
                <div class="footer__social"></div>
            </div>
            <div class="footer__menu">
                <section class="footer__expo"></section>
                <section class="footer__"></section>
                <section class="footer__"></section>
                <section class="footer__"></section>
                <section class="footer__"></section>
                <section class="footer__"></section>
            </div>
        </div>
    </footer>