<footer class="footer">
    <div class="footer__content">
        <div class="footer__action">
            <div class="footer__logo">
                <div class="footer__image">
                    <img src="./assets/img/experimentanium__logo.png" alt="Experimentanium logo">
                </div>
                <h2 class="footer__header">Експериментаніум
                    <span>музей популярної науки і техніки</span>
                </h2>
            </div>
            <div class="footer__subscribe">
                <h3 class="subscribe__title"></h3>
                <div class="subscribe__input"></div>
            </div>
            <div class="footer__social">
                <h3 class="social__title"></h3>
                <div class="social__icons"></div>
            </div>
        </div>
        <div class="footer__menu">
            <ul class="footer__expo">експозиція та шоу
                <li>
                    <a class="footer__link" href="#">Шоу в музеї</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Експозиція музею</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Виїздні шоу</a>
                </li>
                <li>
                    <a class="footer__link" href="#">3Д тур</a>
                </li>
            </ul>
            <ul class="footer__news">новини
                <li>
                    <a class="footer__link" href="#">Новини музею</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Новини зі світу науки</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Анонси</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Акції</a>
                </li>
            </ul>
            <ul class="footer__programms">освітні програми
                <li>
                    <a class="footer__link" href="#">Шкільні екскурсії</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Наукові гуртки</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Лекції</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Майстер-класи</a>
                </li>
            </ul>
            <ul class="footer__events">оргранізація заходів
                <li>
                    <a class="footer__link" href="#">День народження</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Корпоративні заходи</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Оренда приміщень</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Кафе</a>
                </li>
            </ul>
            <ul class="footer__about">про нас
                <li>
                    <a class="footer__link" href="#">Про музей</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Правила поведінки</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Відгуки</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Благодійність</a>
                </li>
                <li>
                    <a class="footer__link" href="#">FAQ</a>
                </li>
            </ul>
            <ul class="footer__museum">музей
                <li>
                    <a class="footer__link" href="#">Квитки/a>
                </li>
                <li>
                    <a class="footer__link" href="#">Магазин</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Вакансії</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Фото та відео</a>
                </li>
                <li>
                    <a class="footer__link" href="#">Подяки</a>
                </li>
            </ul>
        </div>
    </div>
</footer>