<section class="main-info">
    <div class="main-info__location location">
        <div class="location__address address">
            <p class="address__header nomargin">Чекаємо вас за адресою:</p>
            <p class="address__destination nomargin">м. Київ, вул. Верхній Вал 2А</p>
        </div>
        <div class="location__open-time open-time">
            <p class="open-time__header nomargin">Графік роботи музею:</p>
            <p class="open-time__first-day nomargin">пн-вихідний</p>
            <p class="open-time__work-days nomargin">вт-пт: 09:30 - 19:00</p>
            <p class="open-time__last-day nomargin">сб-нд, свята: 10:00 - 20:00</p>
        </div>
        <div class="location__contacts contacts">
            <p class="contacts__header nomargin">Контакти</p>
            <div class="contacts__phone-numbers phone-numbers">
                <a href="tel:+380444256581" class="phone-numbers__1" tel:="">+38 (044) 425-65-81,</a>
                <a href="tel:+380964779791" class="phone-numbers__1" tel:="">+38 (096) 477-97-91,</a>
                <a href="tel:+380992567127" class="phone-numbers__1" tel:="">+38 (099) 256-71-27</a>
            </div>
            <a href="mailto:enjoy@experimentanium.com.ua" class="phone-numbers__1 contacts__email">enjoy@experimentanium.com.ua</a>
            <a href="mailto:enjoy@experimentanium.com.ua" class="phone-numbers__1 contacts__email-icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="main-info__else-block">

    </div>
</section>