<section class="news"></section>
<div class="news__content">
    <div class="news__item">
        <p class="news__date">14/04/16</p>
        <p class="news__message">Музей &#8249;&#8249;Експериментаніум&#8250;&#8250; побував на допрем'єрному показі мультфільму &#8243;Норм та Незламні&#8243;</p>
    </div>
    <div class="news__item">
        <div class="news__photo"><img src="./assets/img/news1.png" alt="news photo"></div>
        <div class="news__front"></div>
        <div class="news__action">
            <a href="#">ДЕТАЛЬНІШЕ</a>
        </div>
    </div>
    <div class="news__item">
        <p class="news__date">1/04/16</p>
        <p class="news__message">Сніжана Єгорова презентувала свою книгу в &#8249;&#8249;Експериментаніумі&#8250;&#8250;</p>
    </div>
</div>