<section class="lecture">
    <div class="lecture__content">
        <div class="lecture__arrow lecture__arrow--left" id="arrow-left">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
        <div class="lecture__item lecture__item--purple">
            <div class="lecture__image">
                <img src="./assets/img/nikola-tesla.png" alt="Nikola Tesla">
            </div>
        </div>
        <div class="lecture__image-main">
            <img src="./assets/img/tesla-lecture.png" alt="Tesla Lecture">
        </div>
        <div class="lecture__item">
            <h3>ТРАНСФОРМАТОР ТЕСЛА</h3>
            <p>Пристрій, винайдений Ніколою Теслою, що носить його ім'я і виконаний у вигляді трансформатора, ввімкнутого обмотками
                в коливальні контури, які працюють в резонансному режимі та служить для утворення високої електричної напруги
                (десятки кіловольт) високої частоти (зазвичай, 20...100 кГц).
            </p>
            <p>Прилад було запатентовано 22 вересня 1896 року, як «Апарат для вироблення електричних струмів високої частоти
                і потенціалу»</p>
            <div>
                <button type="button" class="lecture__button">читати далі</button>
                <button type="button" class="lecture__button-purple">придбати квитки на шоу</button>
            </div>
        </div>
        <div class="lecture__arrow lecture__arrow--right" id="arrow-right">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </div>
</section>