<section class="section tickets">
  <div class="tickets__container">
    <div class="tickets__container--left">
      <div class="container">
        <div class="tickets__title">
          <a href="#" class="tickets__link tickets__link--angle">
            <i class="fa fa-angle-left icon--angle" aria-hidden="true"></i>
          </a>
          <a href="#" class="tickets__link">освітні програми /</a>
          <a href="#" class="tickets__link"> лекції /</a>
          <a href="#" class="tickets__link tickets__link--white"> дифузія</a>
        </div>
      </div>
    </div>
    <div class="tickets__container--main">
      <div class="tickets__block">
        <div class="tickets__photo">
          <img src="../../assets/img/tickets-img.png" alt="tickets-img" class="tickets__img">
          <div class="tickets__caption caption">
            <div class="caption__col">
              <span class="caption__title">Коли</span>
              <p class="caption__sub">ВТ, СР, ЧТ 12:00, 16:00</p>
            </div>
            <div class="caption__col">
              <span class="caption__title">Тривалість:</span>
              <p class="caption__sub">120 хв</p>
            </div>
            <div class="caption__col">
              <span class="caption__title">Ціна:</span>
              <p class="caption__sub">від 250 грн.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tickets__block tickets__block--right">
        <div class="tickets__tabs tabs">
          <ul class="tabs__caption">
            <li class="tabs__link">Інформація</li>
            <li class="tabs__link">відгуки (2)</li>
            <li class="tabs__link active">квитки</li>
          </ul>
          <div class="tabs__content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem molestias soluta nisi impedit ut iste accusantium
              ad quod esse omnis!</p>
          </div>
          <div class="tabs__content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem molestias soluta nisi impedit ut iste accusantium
              ad quod esse omnis!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem molestias soluta nisi impedit ut iste accusantium
              ad quod esse omnis!</p>
          </div>
          <div class="tabs__content active">
            <div class="tabs__item">
              <p class="tabs__name">Діти до 6 років</p>
              <p class="tabs__price">250 грн</p>
              <button type="submit" class="tabs__btn btn">Квитки</button>
            </div>
            <div class="tabs__item">
              <p class="tabs__name">Діти від 6 до 18 років</p>
              <p class="tabs__price">350 грн</p>
              <button type="submit" class="tabs__btn btn">Квитки</button>
            </div>
            <div class="tabs__item">
              <p class="tabs__name">Дорослі</p>
              <p class="tabs__price">400 грн</p>
              <button type="submit" class="tabs__btn btn">Квитки</button>
            </div>
            <div class="tabs__item">
              <p class="tabs__name">Студенти</p>
              <p class="tabs__price">400 грн</p>
              <button type="submit" class="tabs__btn btn">Квитки</button>
            </div>
            <div class="tabs__item">
              <p class="tabs__name">Групи до 10 чоловік</p>
              <p class="tabs__price">200 грн (з особи)</p>
              <button type="submit" class="tabs__btn btn">Квитки</button>
            </div>
            <div class="tabs__item">
              <p class="tabs__name">Групи від 11 чоловік</p>
              <p class="tabs__price">150 грн (з особи)</p>
              <button type="submit" class="tabs__btn btn">Квитки</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>