<div class="container-cards">
    <div class="tickets-card">
        <p class="tickets-card__text">
            Лекція експеремент
        </p>
        <h2 class="tickets-card__title">ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ  ТА АТОМІВ У ПРИРОДІ. </h2>
        <a href="#" class="tickets-card__btn">детальніше</a>
        <p class="tickets-card__text">
            Час проведення: Понеділок 12:30     
        </p>
        <p class="tickets-card__text">
            Ціна: від 250грн.
        </p>    
    </div>
</div>
