<section class="section tickets">
  <div class="tickets__container">
    <div class="tickets__container-left">
      <a href="#" class="tickets__title">освітні програми / лекції / <span class="title-white"></span>Дифузія</span></a>
    </div>
    <div class="tickets__container-right">
      
    </div>
    <div class="tickets__container-main">
      <div class="tickets__block">
        <div class="tickets__photo">
          <div class="tickets__img">
            <div class="tickets__front">
              <div class="front__col">
                <span class="front__title">Коли</span>
                <p class="front__sub">ВТ, СР, ЧТ 12:00, 16:00</p>
              </div>
              <div class="front__col">
                <span class="front__title">Коли</span>
                <p class="front__sub"ВТ, СР, ЧТ 12:00, 16:00</p>
              </div>
              <div class="front__col">
                <span class="front__title">Тривалість:</span>
                <p class="front__sub">120 хв</p>
              </div>
              <div class="front__col">
                <span class="front__title">Ціна:</span>
                <p class="front__sub">від 250 грн.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tickets__block">
        <div class="tickets__tab"></div>
      </div>
    </div>
  </div>
</section>